/*! Fonts */

@font-face {
    font-family: 'tiempos_headlineblack';
    src: url('tiempos_headline-black-webfont.woff2') format('woff2'),
         url('css/tiempos_headline-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'benton_sansbold';
    src: url('css/bentonsans-bold_sot-webfont.woff2') format('woff2'),
         url('css/bentonsans-bold_sot-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}


@font-face {
    font-family: 'benton_sansregular';
    src: url('bentonsans-regular_sot-webfont.woff2') format('woff2'),
         url('css/bentonsans-regular_sot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*! updatedAll */   
body {
    font-family: 'benton_sansregular', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
  }


.topWrap {
    background-color: white;
}

header {
	max-width: 930px; 
	margin: 0 auto !important; 
	float: none !important; 
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
h4 {
    font-family: 'benton_sansbold', sans-serif;
	font-size: 16px;
    text-transform: uppercase; 
    padding-bottom: 50px;
    color: #075d8f;
}

h1 {
    font-family: 'tiempos_headlineblack', serif;
	font-size:     56px;
	font-style:    normal;
	margin-bottom: 18px;
    color: rgb(57, 57, 57);
    }

h2 {
    font-family: 'tiempos_headlineblack', serif;
	font-size: 22px;
    margin-bottom: 18px;
    color: rgb(57, 57, 57);
}
h3 {
    font-family: 'benton_sansregular', sans-serif;
	font-size: 16px;
    line-height: 34px;
}


  /*! Graphic elements */  
  .parent {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
  
  .image1 {
    position: relative;
    width: 100vw;
    top: 2vh;
    left: 0;

  }
  
  .image2 {
    position: absolute;
    width: 500px;
    top: 1vh;

  }

  

btn {
    color: aquamarine;
}




.ferryPosition {

}